.about {
  margin-top: 6%;
}

.me {
  /*margin-top: 33%;*/
  margin-bottom: 17.5%;
  margin-left: 33%;
}

.bio {
  /*margin-top: 17.5%;*/
  margin-left: 11%;
  border-top: 1px solid black;
  /*border-bottom: 1px solid black;*/
  padding: 40px 25px;
}

.instagram {
  height: 32%;
  width: 32%;
  margin: 2px 0px 2px 0px;
  display: inline;
}

.follow {
  background-color: rgb(185, 185, 185);
  margin: 6% 0 6% 0;
  text-align: center;
  height: 5em;
  /*line-height: 8em;*/
  font-size: 32px;
  font-family: "proxima nova", sans-serif;
  border: solid white;
  padding: 2.5% 0;
  letter-spacing: 0.1em;
}

.instafollow {
  color: white;
  border: solid white;
  background-color: transparent;
  padding: 15px 15px;
  letter-spacing: 0.1em;
}

.instafollow:hover {
  background-color: white;
  color: rgb(111, 110, 110);
  border: solid rgb(111, 110, 110);
}

.moreAbout {
  background-color: rgb(185, 185, 185);
  color: white;
  margin: 0 0 3% 0;
  text-align: center;
  height: 5em;
  /*line-height: 8em;*/
  font-size: 32px;
  font-family: "proxima nova", sans-serif;
  letter-spacing: 0.1em;
  border: solid white;
  padding: 3.5% 0;
}

.titles {
  background-color: transparent;
  padding: 10px 0;
  color: black;
  width: 50%;
  text-shadow: 1;
  font-family: 'abolition', sans-serif;
  font-size: 30px;
  letter-spacing: 0.2em;
}
