.title {
  text-align: center;
  font-family: 'abolition', sans-serif;
  font-size: 30px;
  letter-spacing: 0.2em;
  margin-top: 6%;
}

.forage {
  /*height: 393.5px;
  width: 191px;*/
  margin-top: 6%;
  text-align: center;
}

.gusu {
  /*height: 393.5px;
  width: 191px;*/
  text-align: center;
}

.pdf1 {
  background-color: transparent;
  border: 1px solid black;
  font-size: 18px;
  margin: 1% 0 3% 0;
}

.pdf1:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.project {
  letter-spacing: 0.2em;
}
