.title {
  text-align: center;
  font-family: 'abolition', sans-serif;
  font-size: 30px;
  letter-spacing: 0.2em;
  margin-top: 6%;
}

.forage {
  /*height: 393.5px;
  width: 191px;*/
  margin-top: 6%;
  text-align: center;
}

.gusu {
  /*height: 393.5px;
  width: 191px;*/
  text-align: center;
}

.gusuImg {
  text-align: center;
  display: inline;
  height: 15em;
  border: 1px solid #bab9b9;
  padding: 5px;
}

.group {
  text-align: center;
}

.pdf1 {
  background-color: transparent;
  border: 1px solid black;
  font-size: 18px;
  margin: 1% 0 6.5em 0;
}

.pdf1:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.project {
  letter-spacing: 0.2em;
}

.tech {
  font-size: 28px;
  text-align: center;
  margin-top: 3%;
}

.techSkills {
  /*font-family: 'abolition', sans-serif;*/
  font-family: "proxima nova", sans-serif;
  letter-spacing: 0.2em;
}

.gitPage {
  text-align: center;
}

.imageCollage {
  display: inline-block;
}

.collage {
  text-align: center;
  margin-bottom: 6%;
}

#gal {
  height: 18em;
  width: 18em;
}
