<div class="keyboard">
  <!-- <img class='keyboardImg' src="images/pexels-photo-220357.jpeg" alt=" "> -->
</div>


<div class="container ">
  <div class="row about ">
    <div class="col-md-4 myPic ">
      <!-- <img class='me' src="images/meBlue.jpg " alt="Picture of Brett "> -->
      <img class='me' src="images/mecroppedfullcolor.jpg " alt="Picture of Brett ">
    </div>
    <div class="col-md-4 bio ">
      <h3>Who</h3>
      <p>My early adult years were spent mostly behind a drum set, a bar counter and an apron. Succeeding in the music and service industry taught me how to collaborate with others, work quickly and efficiently and communicate well. Older and wiser, my desire
        to grow as a person lead me to Prime Digital Academy. Now I spend most of my time behind a computer writing code, designing and problem solving. </p>
      <h3>Fun</h3>
      <p>I love camping, hiking, back-packing and canoeing. A Goldendoodle named Waffles and a long haired Dachshund named Mr. Weenie are my children. Play the drum set, brew kombucha and never turn down a cribbage match. I eat mostly plants, collect vinyl
        records and dig funk music.</p>
      <h3>Strengths</h3>
      <p>Activator • Includer • Adaptability • Arranger • Positivity</p>


    </div>
  </div>
</div>
<div class="row moreAbout ">
  <h2>A LOOK INTO MY LIFE</h2>
</div>
<div class="container ">
  <div class="row ">
    <img class='instagram' src="images/rocky.jpg " alt="Rocky Mtn. National Forest ">
    <img class='instagram' src="images/moab.jpg " alt="Moab ">
    <img class='instagram' src="images/bisti.jpg " alt="Bisti Badlands ">
  </div>
  <div class="row ">
    <img class='instagram' src="images/fungi.jpg " alt="Mushrooms ">
    <img class='instagram' src="images/sanfran2.jpg " alt="San Fran ">
    <img class='instagram' src="images/beard.jpg " alt="My Band, my beard ">
  </div>
</div>
<div class="row follow ">
  <button class='instafollow' type="button " name="Instagram "><a target="_blank" href="https://www.instagram.com/brettmiller88/">FOLLOW ME ON INSTAGRAM</a>
</div>
div>
