<div id="wrapper">
  <!-- <div id="block">
    <h1>WELCOME</h1>
  </div> -->

  <div class="container ">
    <div class="row about ">
      <div class="col-md-4 myPic ">
        <!-- <img class='me' src="images/meBlue.jpg " alt="Picture of Brett "> -->
        <img class='me' src="images/mecroppedfullcolor.jpg " alt="Picture of Brett ">
      </div>
      <div class="col-md-4 bio ">
        <h3 class='titles'>WHO</h3>
        <p>My early adult years were spent mostly behind a drum set, a bar counter and an apron. Succeeding in the music and service industry taught me how to collaborate with others, work quickly and efficiently and communicate well. Older and wiser, my
          desire to grow as a person lead me to Prime Digital Academy. Now I spend most of my time behind a computer writing code, designing and problem solving. </p>
        <h3 class='titles'>FUN</h3>
        <p>I love camping, hiking, back-packing and canoeing. A Goldendoodle named Waffles and a long haired Dachshund named Mr. Weenie are my four legged children. I play the drum set, brew kombucha and never turn down a cribbage match. Eat mostly plants,
          collect vinyl records and dig funk music.</p>
        <h3 class='titles'>STRENGTHS</h3>
        <p class='strengths'>Design • Collaboration • Communication</p>
        <p>*Activator • Includer • Adaptability • Arranger • Positivity</p>
        <p class='clifton'><i>* CLIFTON STRENGTHS FINDER</i></p>


      </div>
    </div>
  </div>


  <div class="row moreAbout ">
    <h2>A LOOK INTO MY LIFE</h2>
  </div>


  <div class="collage">
    <div class="row">
      <div class="imageCollage">


        <div id='gal' class="ih-item square effect13 left_to_right">
          <a>
            <div class="img"><img src="images/rocky.jpg" alt="img"></div>
            <div class="info">
              <h3>Sprague Lake Trail</h3>
              <p>Rocky Mountain National Park, CO</p>
            </div>
          </a>
        </div>


      </div>
      <div class="imageCollage">


        <div id='gal' class="ih-item square colored effect13 left_to_right">
          <a>
            <div class='img'><img src="images/moab.jpg" alt="img"></div>
            <div class="info">
              <h3>Base Camp</h3>
              <p>Moab, UT</p>
            </div>
          </a>
        </div>


      </div>
      <div class="imageCollage">

        <div id='gal' class="ih-item square effect13 left_to_right">
          <a>
            <div class='img'><img src="images/bisti.jpg" alt="img"></div>
            <div class="info">
              <h3>Waffles overlooking Bisti Badlands</h3>
              <p>De-Na-Zin Wilderness, NM</p>
            </div>
          </a>
        </div>


      </div>

    </div>
    <div class="row">
      <div class="imageCollage">


        <div id='gal' class="ih-item square effect13 left_to_right">
          <a>
            <div class="img"><img src="images/fungi.jpg" alt="img"></div>
            <div class="info">
              <h3>Fungus among us</h3>
              <p>Muir Woods, CA</p>
            </div>
          </a>
        </div>


      </div>
      <div class="imageCollage">


        <div id='gal' class="ih-item square colored effect13 left_to_right">
          <a>
            <div class='img'><img src="images/sanfran2.jpg" alt="img"></div>
            <div class="info">
              <h3>San Francisco is for lovers</h3>
              <p>Golden Gate Bridge, CA</p>
            </div>
          </a>
        </div>


      </div>
      <div class="imageCollage">


        <div id='gal' class="ih-item square effect13 left_to_right">
          <a>
            <div class='img'><img src="images/beard.jpg" alt="img"></div>
            <div class="info">
              <h3>groovin' with the Premiums</h3>
              <p>What a beard!</p>
            </div>
          </a>
        </div>
        <!-- end normal -->

      </div>
    </div>
  </div>


  <div class="row follow ">
    <button class='instafollow' type="button " name="Instagram "><a target="_blank" href="https://www.instagram.com/brettmiller88/">FOLLOW ME ON INSTAGRAM</a>
</div>
</div>
<!-- <div class="container">



  <div ng-repeat='photo in pc.photos' class='instagram'>
    <img class='instagram' ng-click='pc.toggleDiv($index)' ng-src='/images/{{photo.route}}' ng-hide='photo.desc' />
    <div class="back" ng-show='photo.info' ng-click='pc.toggleDiv($index)'>
      <p class="info">{{photo.description}}</p>
    </div>




  </div>


</div> -->
