<!-- <form id="ajax-contact" method="post" action="mailer.php">
  <div class="field">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
  </div>

  <div class="field">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
  </div>

  <div class="field">
    <label for="message">Message:</label>
    <textarea id="message" name="message" required></textarea>
  </div>

  <div class="field">
    <button type="submit">Send</button>
  </div>
</form> -->
<div class="container">
  <div class="col-md-6 contactForm">
    <form class="" action="index.html" method="post">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" value="" required>
      </div>
      <div class="field">
        <label for="email">E-Mail</label>
        <input type="email" name="email" required>
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" rows="5" cols="50" required></textarea>
      </div>
      <div class="field">
        <button class='submit' type="submit">SEND MESSAGE</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 myContact">
    <h2>Brett Miller</h2>
    <ul>
      <li class='myContactInfo'><i class="fa fa-map-marker iconz" aria-hidden="true"></i>MINNEAPOLIS MN 55413</li>

      <li class='myContactInfo'> <i class="fa fa-phone-square iconz" aria-hidden="true"></i>414.238.3073</li>

      <li class='myContactInfo'> <i class="fa fa-envelope iconz" aria-hidden="true"></i>MILLER.BRETT.ANDREW@GMAIL.COM</li>

    </ul>

  </div>





</div>
