<div id='wrapper'>
  <div class="container">


    <div class="container">
      <div class="title">
        <h1>SOFTWARE ENGINEER | WEB DESIGNER</h1>
        <div class="tech">
          <!-- <h2 class='techSkills'>TECH SKILLS</h2> -->
          <div id="tooltip"><i class="devicon-javascript-plain"><p id='tooltiptext'>JAVASCRIPT</p></i>
          </div>
          <div id="tooltip"><i class="devicon-angularjs-plain"><p id='tooltiptext'>ANGULARJS</p></i>
          </div>
          <div id="tooltip"><i class="devicon-react-original"><p id='tooltiptext'>REACT</p></i>
          </div>
          <div id="tooltip"><i class="devicon-jquery-plain-wordmark"><p id='tooltiptext'>JQUERY</p></i>
          </div>
          <div id="tooltip"><i class="devicon-nodejs-plain"><p id='tooltiptext'>NODE.JS</p></i>
          </div>
          <div id="tooltip"><i class="devicon-html5-plain-wordmark"><p id='tooltiptext'>HTML5</p></i>
          </div>
          <div id="tooltip"><i class="devicon-css3-plain-wordmark"><p id='tooltiptext'>CSS3</p></i>
          </div>
          <div id="tooltip"><i class="devicon-bootstrap-plain"><p id='tooltiptext'>BOOTSTRAP</p></i>
          </div>
          <div id="tooltip"><i class="devicon-sass-original"><p id='tooltiptext'>SASS</p></i>
          </div>
          <div id="tooltip"><i class="devicon-photoshop-plain"><p id='tooltiptext'>PHOTOSHOP</p></i>
          </div>
          <div id="tooltip"><i class="devicon-mongodb-plain"><p id='tooltiptext'>MONGODB</p></i>
          </div>
          <div id="tooltip"><i class="devicon-postgresql-plain"><p id='tooltiptext'>POSTGRESQL</p></i>
          </div>
          <div id="tooltip"><i class="devicon-git-plain"><p id='tooltiptext'>GIT</p></i>
          </div>
          <div id="tooltip"><i class="devicon-github-plain"><p id='tooltiptext'>GITHUB</p></i>
          </div>
          <div id="tooltip"><i class="devicon-atom-original"><p id='tooltiptext'>ATOM</p></i>
          </div>
          <div id="tooltip"><i class="devicon-slack-plain"><p id='tooltiptext'>SLACK</p></i>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 forage">
          <img src="images/foundofrage.png" alt="Map Your Finds!">
          <h2 class='project'>FOUND FORAGE</h2>
          <p>MAP THE LOCATION OF YOUR WILD FINDS!</p>
          <p>MEAN STACK APPLICATION DESIGNED FOR MOBILE</p>
          <button class="pdf1" type="button "><a target="_blank" href="https://found-forage.herokuapp.com/#!/">CHECK IT OUT</a></button>

        </div>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 group">
          <!-- <img class='gusuImg' src="images/gusu.png" alt="Map Your Finds!"> -->
          <img class='gusuImg' src="images/register.png" alt="">

        </div>
        <div class="col-md-6 group">
          <img class='gusuImg' src="images/gusuhobby.png" alt="">

        </div>
      </div>
      <div class="row">
        <div class="col-md-6 group">
          <img class='gusuImg' src="images/gusuuser.png" alt="">
        </div>
        <div class="col-md-6 group">
          <img class='gusuImg' src="images/admingusu.png" alt="">
        </div>
      </div>
      <div class="gusu">
        <h2 class='project'>GET UP SIGN UP MENTOR MATCH</h2>
        <p>SCI MENTOR MENTEE MATCHING SITE</p>
        <p>CLIENT <a href="http://www.gusu2cure.org/">GET UP STAND UP 2 CURE</a></p>
        <button class="pdf1" type="button "><a target="_blank" href="https://github.com/animalonthedrum/GUSU2CURE">SEE THE CODE</a></button>
      </div>

    </div>

    <div class="container">
      <div class="row">
        <div class="gitPage">
          <img class='gitHubImg' src="images/github.png" alt="git hub pic">
          <h2 class='project'>OTHER PROJECTS</h2>
          <p>CODING ASSIGNMENTS FROM PRIME</p>
          <button class="pdf1" type="button "><a target="_blank" href="https://github.com/animalonthedrum">MY GITHUB PAGE</a></button>
        </div>
      </div>
    </div>

  </div>
</div>
