<div class="container">
  <div class="title">
    <h1>SOFTWARE ENGINEER | WEB DESIGNER</h1>
    <hr>
  </div>

  <div class="row">
    <div class="forage">
      <img src="images/foundofrage.png" alt="Map Your Finds!">
      <h2 class='project'>FOUND FORAGE</h2>
      <p>MAP THE LOCATION OF YOUR WILD FINDS!</p>
      <p>MEAN STACK APPLICATION DESIGNED FOR MOBILE</p>
      <button class="pdf1" type="button "><a target="_blank" href="https://found-forage.herokuapp.com/#!/">CHECK IT OUT</a></button>

    </div>
  </div>

</div>
<div class="row">
  <div class="gusu">
    <img src="images/gusu.png" alt="Map Your Finds!">
    <h2 class='project'>GET UP SIGN UP MENTOR MATCH</h2>
    <p>SCI MENTOR MENTEE MATCHING SITE</p>
    <p>CLIENT <a href="http://www.gusu2cure.org/">GET UP STAND UP 2 CURE</a></p>
    <button class="pdf1" type="button "><a target="_blank" href="https://github.com/animalonthedrum/GUSU2CURE">SEE THE CODE</a></button>

  </div>
</div>
