<div id='wrapper'>


  <div class="contactInfo">
    <button class='pdf' type="button" name="button"><a href="images/Miller.Brett-Resume.pdf" download='Resume Pdf'>DOWNLOAD PDF</a></button>

    <h1>BRETT MILLER</h1>
    <h3><i class="fa fa-envelope" aria-hidden="true"></i><a class='mail' href="mailto:miller.brett.andrew@gmail.com"> MILLER.BRETT.ANDREW@GMAIL.COM</a> | <i class="fa fa-phone-square" aria-hidden="true"></i>
414.238.3073 | <i class="fa fa-github-square" aria-hidden="true"></i>
 <a target="_blank" class='mail' href="https://github.com/animalonthedrum">GITHUB.COM/ANIMALONTHEDRUM</a></h3>
  </div>
  <div class="container">
    <div class="row">
      <h1>Technical Skills</h1>
      <hr>
      <div class="skills">
        <p class='skills'>JavaScript | AngularJS | jQuery | HTML 5 | ES6 | CSS3 | Bootstrap | Bootstrap UI | Sass | Git | Github | node.js | Express.js | PostgresSQL | MongoDB | AJAX | Google Maps API | File Stack API | Adobe Photoshop</p>
      </div>
    </div>

    <div class="row">
      <h1>Experience</h1>
      <hr>
      <div class="resumeIcons">
        <img class='resumeLogo' src="images/prime.jpg" alt="">
      </div>
      <div class="resumeText">
        <h2>Prime Digital Academy</h2>
        <h3>Full Stack Development Student</h3>
        <h4><i>April 2017 - Present</i></h4>

        <p>Solo Project:<a href="https://found-forage.herokuapp.com"> Found Forage</a> *Designed for mobile</p>
        <ul>
          <li class='prime'>Found Forage captures the coordinates of wild edibles and other found items.</li>
          <li class='prime'>A mobile first application that allows users to create a profile, map their current location, input found item details and images. Information is cataloged in an archive as well as a gallery view.</li>
          <li class='prime'>Tech: JavaScript | MongoDB | Express.js | AngularJS | node.js | Google Maps API | FIlestack API HTML5 | CSS3 | BootstrapUI</li>
        </ul>
        <p>Group Project: Get Up Stand Up 2 Cure</p>
        <ul>
          <li class='prime'>GetUp StandUp 2 Cure is a non-profit with a mission to unite and educate communities to support and advocate for the restoration of function in Spinal Cord Injury.</li>
          <li class='prime'>Our team of three integrated a database structure that provides the top three mentor matches to mentees based on their registration information. I was responsible for designing an easily accessible registration form, a user profile page and
            an admin page.
          </li>
          <li class='prime'>Tech: JavaScript | PostgresSQL | AngularJS | Express.js | node.js | Twilio | Filestack API | Chart.js | Bootstrap | HTML5 | CSS3</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="resumeIcons">
        <img class='resumeLogo' src="images/Herbivorous_PrimaryLogo_Black.png" alt="">
      </div>
      <div class="resumeText">
        <h2>The Herbivorous Butcher</h2>
        <h3>Front of House Manager</h3>
        <h4><i>January 2016 - April 2017</i></h4>
        <ul>
          <li class='prime'>Prior to grand opening responsibilities included software integration, establishing the point of sale, payment and sales tracking system.</li>
          <li class='prime'>Collaborated with owners to design and develop customer flow and experience.</li>
          <li class='prime'>Production artist for labels, signage, and deliverables.</li>
          <li class='prime'>Hiring, training, scheduling and onboarding of a diverse team.</li>
          <li class='prime'>Hiring, training, scheduling and onboarding of a diverse team.</li>
          <li class='prime'>Featured on Food Network, Time, New York Times, the Guardian, BBC, NPR.</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="resumeIcons">
        <img class='resumeLogo' src="images/flightslogo.png" alt="">
      </div>
      <div class="resumeText">
        <h2>Surdyk's Flights</h2>
        <h3>Front of House Manager</h3>
        <h4><i>September 2014 - November 2016</i></h4>
        <ul>
          <li class='prime'>Managed staff and general operation for two locations in MSP airport.</li>
          <li class='prime'>Fast paced team dynamic.</li>
          <li class='prime'>Updating Micros POS system.</li>
          <li class='prime'>Opening and closing supervisor duties.</li>
        </ul>
        <p>Cashier, Server, Bartender</p>
        <p><i>January 2013 - September 2014</i></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="resumeIcons">
        <img class='resumeLogo' src="images/premiums.jpg" alt="the Premiums">
      </div>
      <div class="resumeText">
        <h2>The Premiums LLC</h2>
        <h3>Musician - Drummer</h3>
        <h4><i>October 2007 - August 2015</i></h4>
        <ul>
          <li class='prime'>Touring musical group.</li>
          <li class='prime'>Designed performance posters as well as graphics for social media.</li>
          <li class='prime'>Communicated with venue management and booking agents.</li>
        </ul>

      </div>
      <hr>
      <div class="row">
        <h1>Education</h1>
        <hr>
        <div class="resumeIcons">
          <img class='resumeLogo' src="images/prime.jpg" alt="">
        </div>
        <div class="resumeText">
          <h2>Prime Digital Academy</h2>
          <h3>Full Stack Software Engineering Certificate</h3>
          <h4><i>August 2017</i></h4>
          <hr>
          <div class="resumeIcons">
            <img class='resumeLogo' src="images/uwo.jpg" alt="">
          </div>

          <div class="resumeText">
            <h2>University of Wisconsin Oshkosh</h2>
            <h3>Generals | Business | Japanese</h3>
            <h4><i>August 2007 - September 2011</i></h4>
          </div>
        </div>
      </div>
      <hr>
    </div>
