<div class="container">
  <h1>Experience</h1>
  <div class="row">
    <div class="resumeIcons">
      <img class='resumeLogo' src="images/PRIMELOGO2.png" alt="">
    </div>
    <h2>Prime Digital Academy</h2>
    <h3>Full Stack Development Student</h3>
    <h4>April 2017 - Present</h4>
  </div>

  <div class="row">
    <div class="resumeIcons">
      <img class='resumeLogo' src="images/Herbivorous_PrimaryLogo_Black.png" alt="">
    </div>
    <h2>Prime Digital Academy</h2>
    <h3>Full Stack Development Student</h3>
    <h4>April 2017 - Present</h4>
  </div>
  <div class="row">
    <div class="resumeIcons">
      <img class='resumeLogo' src="images/flightslogo.png" alt="">
    </div>
    <h2>Prime Digital Academy</h2>
    <h3>Full Stack Development Student</h3>
    <h4>April 2017 - Present</h4>
  </div>
  <div class="row">
    <div class="resumeIcons">
      <img class='resumeLogo' src="images/uwo.png" alt="">
    </div>
  </div>
</div>
